# Virtuele omgevingen
venv/
.env/

# Caches
__pycache__/
*.pyc
*.pyo

results/

node_modules/
*.log
*.tmp

models/textcat_model/model.safetensors
results/checkpoint-9/model.safetensors
results/checkpoint-4/model.safetensors
results/checkpoint-4/optimizer.pt
results/checkpoint-8/optimizer.pt
results/checkpoint-9/optimizer.pt

frontend/

*.log
*.zip
*.csv
*.tmp
node_modules/
